* {
    box-sizing: border-box;
}

.center {
    text-align: center;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* background-image: -webkit-radial-gradient(center, 200px 300px, white, black); */
    user-select: none;
    overflow-x: hidden;
}


/* 
#main {
    margin-top: 20px;
} */

a:link,
a:visited,
a:hover,
a:active {
    color: black;
}

#exitLinkWrapper {
    cursor: pointer;
}

#exitLink {
    float: right;
}

#cancelPairing {
    position: absolute;
    bottom: 50px;
    right: 0;
}

.darkMode .simpleButton {
    color: white;
    border: 1px solid white;
    background-color: black;
}

.simpleButton span {
    cursor: pointer;
}

.simpleButton {
    z-index: 1001;
    cursor: pointer;
    color: black;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

#alwaysOnTopCheck {
    margin-left: 5px;
    margin-top: 10px;
}

#alwaysOnTopWrapper {
    margin: 10px;
    font-size: 18px;
}

.topText {
    font-weight: 400;
}

#atvDropdownContainer {
    margin: 0 auto;
}

#atv_picker {
    min-width: 200px;
    width: 100%;
}

#remoteDropdown {
    min-width: 200px;
    width: 100%;
}

#pairingElements {
    display: none;
    margin: 10px;
}

#pairCode:input[type="text"] {
    font-size: 24px;
    min-width: 200px;
    text-align: center;
}

#pairButton {
    float: right;
}

#results {
    text-align: center;
}

#results label {
    font-size: 1.5em;
}

#pairCodeElements label {
    font-size: 1.5em;
}

#pairCodeElements {
    display: none;
}

#loader {
    display: none;
}

#scanText {
    position: absolute;
    bottom: 10px;
}

#cmdFade {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

#cmdWrapper {
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.darkMode {
    background-color: black;
    color: white;
}

.darkMode .footer {
    color: lightgray;
}

.darkMode a:link,
.darkMode a:visited,
.darkMode a:hover,
.darkMode a:active {
    color: white;
}

header,
footer {
    text-align: center;
    height: 60px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 15px;
}

header,
footer,
article,
nav,
aside {
    padding: 1em;
}

#statusText {
    display: none;
    position: fixed;
    bottom: 0;
}

.ctText {
    font-size: 1.5em;
}

.ctText_banner {
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    display: inline-flex;
    line-height: 1;
    overflow: hidden;
}

.ctText_banner_animated {
    animation: backAndForth 5s linear infinite;
}

@keyframes backAndForth {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(calc(-100% + 200px));
    }
    55% {
        transform: translateX(calc(-100% + 200px));
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

.pythonErrorHeader {
    font-size: 1.5em;
    color: rgb(202, 60, 60);
}

.pythonError {
    display: none;
}

.directionTable {
    display: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px
}

.animate {
    transition: all 200ms ease;
}

.invert {
    filter: invert(100%) !important;
}

.returnToNormal {
    filter: invert(0%);
}

.spacerRow {
    height: 10px;
}

.keyTextAlt {
    display: none;
}

.directionCircle {
    cursor: pointer;
    /* box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0); */
    transition: all 50ms ease;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    padding: 8px;
    padding-top: 23px;
    background-color: white;
    color: black;
    border: 2px solid #666;
    text-align: center;
    font-size: 18px;
    /* transition: box-shadow 5s ease; */
    filter: invert(0%);
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1)
}

.selectArrow.directionCircle.directionArrows {
    border: 3px double black;
}

.darkMode .selectArrow.directionCircle.directionArrows {
    border: 3px double white;
}

.directionCircle.directionArrows {
    background-color: rgb(226, 226, 226);
    border: 3px solid rgb(82, 82, 82);
}

.darkMode .directionCircle.directionArrows {
    background-color: rgb(29, 29, 29);
    border: 3px solid rgb(128, 128, 128);
}

.directionCircle:hover {
    transform: scale(1.05);
    /* box-shadow: 0 0 5px 1px rgb(140 140 140); */
    filter: invert(100%);
    /* border: 4px #666 thick; */
}

.darkMode .directionCircle {
    background: #000;
    color: white;
}


/* .darkMode .directionCircle.menuButton {
    border: 2px solid #666;
}

.directionCircle.menuButton {
    border: 2px solid black;
} */

.numberCircle {
    cursor: pointer;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    padding: 8px;
    padding-top: 20px;
    background-color: white;
    color: black;
    border: 2px solid #666;
    text-align: center;
    font-size: 20px;
}

.darkMode .numberCircle {
    background: #000;
    color: white;
}

.keymapDiv {
    display: flex;
    justify-content: space-evenly;
}

.volumeKeys {
    opacity: 0.50;
}


/* .darkMode .select2-container {
    background-color: #333;
    color: white;
} */